<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mimiter.mgs.label.repository.AnswerRepository">
    <resultMap id="answerMapper"
               extends="com.mimiter.mgs.BaseEntityMapper.baseEntityMapper"
               type="com.mimiter.mgs.label.model.entity.Answer">
        <id property="id" column="answer_id"/>
        <result property="text" column="text"/>
        <result property="startIndex" column="start_index"/>
        <association property="question.id" column="question_id" fetchType="lazy"
                     select="com.mimiter.mgs.label.repository.QuestionRepository.selectById"/>
    </resultMap>
</mapper>