<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mimiter.mgs.label.repository.ParagraphRepository">
    <resultMap id="paragraphMapper"
               extends="com.mimiter.mgs.BaseEntityMapper.baseEntityMapper"
               type="com.mimiter.mgs.label.model.entity.Paragraph">
        <id property="id" column="paragraph_id"/>
        <result property="text" column="text"/>
        <collection property="questions" column="paragraph_id" fetchType="lazy"
                    ofType="com.mimiter.mgs.label.model.entity.Question"
                    javaType="ArrayList"
                    select="com.mimiter.mgs.label.repository.QuestionRepository.selectByParagraphId"/>
    </resultMap>
</mapper>