<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.abstractmgs.core.repository.RecommendQuestionRepository">
    <resultMap id="recommendQuestionMapper"
               extends="cn.abstractmgs.BaseEntityMapper.baseEntityMapper"
               type="cn.abstractmgs.model.entity.RecommendQuestion">
        <id property="id" column="question_id"/>
        <result property="questionText" column="question_text"/>
    </resultMap>
</mapper>