<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.abstractmgs.repository.TextRepository">
    <resultMap id="textMap" type="cn.abstractmgs.model.entity.Text">
        <result property="label" column="exhibits_label" jdbcType="VARCHAR" javaType="String"/>
        <result property="text" column="exhibits_text" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <select id="selectByLabel" resultMap="textMap">
        select exhibits_text from tblDemo where exhibits_label = #{label}
    </select>

</mapper>